.home-content {
	// color: #fff;
	font-size: large;
	// width: 960px;
	// border-block-width: 20px;
	// position: relative;
	// text-align: left;
	// left:395.04px;
	// z-index: -3;
}

.content-header {
	padding-left: 20px;
}

.content-box {
	display: flex;
	flex-wrap: nowrap;
	padding: 0 20px;
	column-gap: 20px;

	.suggest-content {
		justify-content: space-between;
		display: flex;
		width: 100%;
		column-gap: 20px;
	}

	.active-content {
		justify-content: space-between;
		display: flex;
		width: 100%;
	}
}

.function-content-left {
	margin: auto 0;
}

.function-content-right {
	//功能入口键
	display: flex;
	flex-wrap: wrap;
	row-gap: 20px;
	column-gap: 20px;
}

.main-content {
	img {
		border-radius: 20px;
		// css过渡
		transition-property: all;
		transition-duration: 0.5s;
		transition-timing-function: ease;
		transition-delay: 0s;
	}

	img:hover {
		transform: scale(1.03);
		// 图片高亮
		-webkit-filter: brightness(90%);
		filter: brightness(90%);
	}
}


.small-item {
	// 宽高比例1.75
	width: 258px;
	height: 147.39px;
}

.large-item {
	// 宽高比例1.71
	width: 537px;
	height: 314.78px;
}

// 媒体查询
@media screen and (max-width:$xl) {
	.large-item {
		width: 468.8px;
		height: calc(468.8px / 1.71);
	}

	.small-item {
		width: 224px;
		height: calc(224px / 1.75);
	}

}

@media screen and (max-width:$lg) {
	.large-item {
		width: 337.8px;
		height: calc(337.8px / 1.71);
	}

	.small-item {
		width: 159px;
		height: calc(159px / 1.75);
	}
}

@media screen and (max-width:$md) {
	.large-item {
		width: 290px;
		height: calc(290px / 1.71);
	}

	.small-item {
		width: 134px;
		height: calc(134px / 1.75);
	}

}

@media screen and (max-width:$sm) {
	.large-item {
		width: 274px;
		height: calc(274px / 1.71);
	}

	.small-item {
		width: 88px;
		height: calc(88px / 1.75);
	}

	.function-content-right {
		justify-content: right;
	}

	.content-box {
		column-gap: 8px;

		.suggest-content {
			column-gap: 0;
		}
	}

}

@media screen and (max-width:$xs) {
	.large-item {
		width: 237px;
		height: calc(237px / 1.71);
	}

	.small-item {
		width: 70px;
		height: calc(70px / 1.75);
	}

	.function-content-right {
		justify-content: right;
	}

	.content-box {
		.suggest-content {
			column-gap: 0;
		}
	}

}