@font-face {
	font-family: "puhui";
	src: url("../iconfont/font/AlibabaPuHuiTi-3-55-Regular.ttf");
	font-display: swap;
}

@font-face {
	font-family: "torus";
	src: url("../iconfont/font/Torus-SemiBold.ttf");
	font-display: swap;
}