// global
@import "./variables.scss";

* {
	// background-color: #1c1719;
	// color: #ffffff;
	font-family: "puhui", "torus";
}

body {
	background-color: #1c1719;
	//color: #ffffff;
}

#app {
	width: 100%;
	height: 100%;
}

// components
@import "./components/homeContent.scss";
@import "./components/navigation.scss";

// views
@import "./views/home.scss"